# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.DS_Store
.cocos2-project.json
node_modules
frameworks
simulator
CMakeLists.txt
manifest.webapp
.cocos-project.json
index.html
