<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pixi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{448,159}</string>
                <key>spriteSourceSize</key>
                <string>{850,227}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pvr_test.pvr</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:717f7ee48374e502f80b745a5b862299:803c9b8de26ba26d244964f0b20bbd7a:b070179e6246bea0daad9b5109525b4e$</string>
            <key>textureFileName</key>
            <string>pvr_test.pvr</string>
        </dict>
    </dict>
</plist>
