<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-36}</string>
                <key>spriteSize</key>
                <string>{47,103}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{178,110},{47,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-37}</string>
                <key>spriteSize</key>
                <string>{47,103}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{211,1},{47,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-37}</string>
                <key>spriteSize</key>
                <string>{45,103}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{226,685},{45,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-36}</string>
                <key>spriteSize</key>
                <string>{41,103}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{224,451},{41,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-35}</string>
                <key>spriteSize</key>
                <string>{41,105}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{186,344},{41,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-33}</string>
                <key>spriteSize</key>
                <string>{41,107}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{168,1},{41,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-33}</string>
                <key>spriteSize</key>
                <string>{43,107}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{133,116},{43,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-35}</string>
                <key>spriteSize</key>
                <string>{45,105}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{222,578},{45,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-44}</string>
                <key>spriteSize</key>
                <string>{99,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{260,1},{99,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-45}</string>
                <key>spriteSize</key>
                <string>{101,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{204,215},{101,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-45}</string>
                <key>spriteSize</key>
                <string>{99,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{229,318},{99,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-44}</string>
                <key>spriteSize</key>
                <string>{97,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{289,207},{97,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-43}</string>
                <key>spriteSize</key>
                <string>{95,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{102,927},{95,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-42}</string>
                <key>spriteSize</key>
                <string>{99,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,931},{99,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-42}</string>
                <key>spriteSize</key>
                <string>{97,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{191,925},{97,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-43}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{227,106},{99,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-45}</string>
                <key>spriteSize</key>
                <string>{111,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{52,701},{111,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-45}</string>
                <key>spriteSize</key>
                <string>{111,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{66,586},{111,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-44}</string>
                <key>spriteSize</key>
                <string>{111,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{99,814},{111,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-45}</string>
                <key>spriteSize</key>
                <string>{111,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{186,812},{111,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-46}</string>
                <key>spriteSize</key>
                <string>{113,81}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,471},{113,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-46}</string>
                <key>spriteSize</key>
                <string>{113,81}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{48,237},{113,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-46}</string>
                <key>spriteSize</key>
                <string>{113,81}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{50,118},{113,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-45}</string>
                <key>spriteSize</key>
                <string>{111,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{139,699},{111,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-43}</string>
                <key>spriteSize</key>
                <string>{65,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{48,352},{65,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-43}</string>
                <key>spriteSize</key>
                <string>{63,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,586},{63,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-43}</string>
                <key>spriteSize</key>
                <string>{65,111}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{157,465},{65,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-44}</string>
                <key>spriteSize</key>
                <string>{69,111}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{115,352},{69,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-45}</string>
                <key>spriteSize</key>
                <string>{71,109}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{131,233},{71,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-46}</string>
                <key>spriteSize</key>
                <string>{71,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{95,1},{71,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-46}</string>
                <key>spriteSize</key>
                <string>{71,111}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{84,467},{71,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-45}</string>
                <key>spriteSize</key>
                <string>{67,111}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{153,580},{67,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-35}</string>
                <key>spriteSize</key>
                <string>{49,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,701},{49,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-35}</string>
                <key>spriteSize</key>
                <string>{47,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,816},{47,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-35}</string>
                <key>spriteSize</key>
                <string>{47,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{50,816},{47,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-36}</string>
                <key>spriteSize</key>
                <string>{45,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{48,1},{45,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-37}</string>
                <key>spriteSize</key>
                <string>{45,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,237},{45,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-37}</string>
                <key>spriteSize</key>
                <string>{45,117}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-37}</string>
                <key>spriteSize</key>
                <string>{45,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,354},{45,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-36}</string>
                <key>spriteSize</key>
                <string>{47,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,120},{47,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>axe_idle_a.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4421a0f56538f1ef2a9adaaaed1c47fb:5f9a40aacdbf364f1113c577f3a96a22:d1af54f4e1e01388be488c656ccc3b4c$</string>
            <key>textureFileName</key>
            <string>axe_idle_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
