<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-36}</string>
                <key>spriteSize</key>
                <string>{47,103}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{282,919},{47,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-37}</string>
                <key>spriteSize</key>
                <string>{47,103}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{223,574},{47,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-37}</string>
                <key>spriteSize</key>
                <string>{45,103}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{176,110},{45,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-36}</string>
                <key>spriteSize</key>
                <string>{41,103}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{205,1},{41,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-34}</string>
                <key>spriteSize</key>
                <string>{39,105}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{182,574},{39,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-33}</string>
                <key>spriteSize</key>
                <string>{39,107}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{164,1},{39,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-33}</string>
                <key>spriteSize</key>
                <string>{43,107}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{131,116},{43,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-35}</string>
                <key>spriteSize</key>
                <string>{45,105}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{171,344},{45,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-44}</string>
                <key>spriteSize</key>
                <string>{99,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{223,106},{99,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-44}</string>
                <key>spriteSize</key>
                <string>{101,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{233,679},{101,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-45}</string>
                <key>spriteSize</key>
                <string>{99,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{248,1},{99,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-44}</string>
                <key>spriteSize</key>
                <string>{97,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{293,782},{97,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-43}</string>
                <key>spriteSize</key>
                <string>{95,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{102,927},{95,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-42}</string>
                <key>spriteSize</key>
                <string>{99,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,929},{99,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-42}</string>
                <key>spriteSize</key>
                <string>{97,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{191,925},{97,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-43}</string>
                <key>spriteSize</key>
                <string>{99,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{202,215},{99,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-44}</string>
                <key>spriteSize</key>
                <string>{109,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{206,808},{109,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-44}</string>
                <key>spriteSize</key>
                <string>{109,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{84,352},{109,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-44}</string>
                <key>spriteSize</key>
                <string>{109,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{153,463},{109,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-45}</string>
                <key>spriteSize</key>
                <string>{111,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{68,469},{111,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-45}</string>
                <key>spriteSize</key>
                <string>{113,81}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,354},{113,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-45}</string>
                <key>spriteSize</key>
                <string>{113,81}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{46,237},{113,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-46}</string>
                <key>spriteSize</key>
                <string>{113,81}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{48,118},{113,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-45}</string>
                <key>spriteSize</key>
                <string>{111,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{50,814},{111,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-43}</string>
                <key>spriteSize</key>
                <string>{65,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,469},{65,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-43}</string>
                <key>spriteSize</key>
                <string>{63,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,584},{63,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-43}</string>
                <key>spriteSize</key>
                <string>{63,111}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{168,695},{63,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-44}</string>
                <key>spriteSize</key>
                <string>{69,111}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{97,699},{69,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-45}</string>
                <key>spriteSize</key>
                <string>{71,109}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{129,233},{71,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-46}</string>
                <key>spriteSize</key>
                <string>{69,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{93,1},{69,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-46}</string>
                <key>spriteSize</key>
                <string>{69,111}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{135,812},{69,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-45}</string>
                <key>spriteSize</key>
                <string>{67,111}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{113,582},{67,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-35}</string>
                <key>spriteSize</key>
                <string>{47,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,699},{47,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-35}</string>
                <key>spriteSize</key>
                <string>{45,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{50,699},{45,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-35}</string>
                <key>spriteSize</key>
                <string>{47,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,814},{47,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-35}</string>
                <key>spriteSize</key>
                <string>{45,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,120},{45,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-37}</string>
                <key>spriteSize</key>
                <string>{43,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,237},{43,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-37}</string>
                <key>spriteSize</key>
                <string>{43,117}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,1},{43,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-37}</string>
                <key>spriteSize</key>
                <string>{45,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{46,1},{45,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-36}</string>
                <key>spriteSize</key>
                <string>{45,113}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{66,584},{45,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>axe_idle.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd0ac2fa47cf24f87d411418837f938f:1e28cc5acfb80acd25fbf88fa56590c4:96454d4bacb63c1a792b6e4de5c8d7d8$</string>
            <key>textureFileName</key>
            <string>axe_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
