<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-28}</string>
                <key>spriteSize</key>
                <string>{67,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{205,1},{67,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-28}</string>
                <key>spriteSize</key>
                <string>{67,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{205,94},{67,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{67,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{266,187},{67,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{67,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{266,280},{67,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{67,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{366,141},{67,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{366,70},{69,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{67,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{366,210},{67,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{67,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{297,371},{67,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-27}</string>
                <key>spriteSize</key>
                <string>{47,101}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,104},{47,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-27}</string>
                <key>spriteSize</key>
                <string>{47,101}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,207},{47,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{45,101}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,310},{45,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{49,101}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-29}</string>
                <key>spriteSize</key>
                <string>{51,99}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{50,207},{51,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-29}</string>
                <key>spriteSize</key>
                <string>{53,99}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{87,1},{53,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-28}</string>
                <key>spriteSize</key>
                <string>{51,99}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{89,102},{51,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-28}</string>
                <key>spriteSize</key>
                <string>{49,99}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{87,308},{49,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-28}</string>
                <key>spriteSize</key>
                <string>{41,97}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,413},{41,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-28}</string>
                <key>spriteSize</key>
                <string>{41,97}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{44,413},{41,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-27}</string>
                <key>spriteSize</key>
                <string>{41,99}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{87,409},{41,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-27}</string>
                <key>spriteSize</key>
                <string>{37,101}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{48,310},{37,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-27}</string>
                <key>spriteSize</key>
                <string>{33,101}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{52,1},{33,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-29}</string>
                <key>spriteSize</key>
                <string>{33,97}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{103,203},{33,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-27}</string>
                <key>spriteSize</key>
                <string>{37,101}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{50,104},{37,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-27}</string>
                <key>spriteSize</key>
                <string>{39,99}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{130,409},{39,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-22}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{142,1},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-22}</string>
                <key>spriteSize</key>
                <string>{65,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{138,300},{65,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{63,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{171,395},{63,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{138,203},{63,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-24}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{142,96},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-24}</string>
                <key>spriteSize</key>
                <string>{59,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{205,286},{59,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-23}</string>
                <key>spriteSize</key>
                <string>{59,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{236,381},{59,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{203,191},{61,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-23}</string>
                <key>spriteSize</key>
                <string>{67,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{366,1},{67,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-23}</string>
                <key>spriteSize</key>
                <string>{67,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{274,1},{67,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-23}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{274,70},{65,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{67,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{335,279},{67,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{67,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{404,279},{67,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{67,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{435,417},{67,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{67,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{404,348},{67,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-23}</string>
                <key>spriteSize</key>
                <string>{67,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{366,417},{67,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fist_idle.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdeb70bc5c6c9fbf5ae928e7444f27fd:805a324bb3685f1e9fd8dd0ee149707b:60e47a75ec66d1a8dfe6d481dbfe4008$</string>
            <key>textureFileName</key>
            <string>fist_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
