<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-42}</string>
                <key>spriteSize</key>
                <string>{55,117}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{611,374},{55,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-43}</string>
                <key>spriteSize</key>
                <string>{57,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{963,264},{57,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-43}</string>
                <key>spriteSize</key>
                <string>{55,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{438,430},{55,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-41}</string>
                <key>spriteSize</key>
                <string>{49,119}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{893,381},{49,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-39}</string>
                <key>spriteSize</key>
                <string>{45,121}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{770,337},{45,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-38}</string>
                <key>spriteSize</key>
                <string>{45,123}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,511},{45,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-38}</string>
                <key>spriteSize</key>
                <string>{49,123}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,460},{49,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-39}</string>
                <key>spriteSize</key>
                <string>{53,121}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{969,141},{53,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-49}</string>
                <key>spriteSize</key>
                <string>{149,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{671,103},{149,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-50}</string>
                <key>spriteSize</key>
                <string>{149,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{518,145},{149,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-50}</string>
                <key>spriteSize</key>
                <string>{147,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,278},{147,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-50}</string>
                <key>spriteSize</key>
                <string>{143,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{625,285},{143,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-48}</string>
                <key>spriteSize</key>
                <string>{145,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{478,230},{145,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-47}</string>
                <key>spriteSize</key>
                <string>{143,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,365},{143,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-47}</string>
                <key>spriteSize</key>
                <string>{147,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{172,234},{147,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-48}</string>
                <key>spriteSize</key>
                <string>{151,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{858,1},{151,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-43}</string>
                <key>spriteSize</key>
                <string>{169,95}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,181},{169,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-43}</string>
                <key>spriteSize</key>
                <string>{167,95}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{349,94},{167,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-42}</string>
                <key>spriteSize</key>
                <string>{169,95}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{532,1},{169,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-43}</string>
                <key>spriteSize</key>
                <string>{171,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{176,92},{171,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-43}</string>
                <key>spriteSize</key>
                <string>{175,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{180,1},{175,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-44}</string>
                <key>spriteSize</key>
                <string>{173,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,92},{173,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-44}</string>
                <key>spriteSize</key>
                <string>{177,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-44}</string>
                <key>spriteSize</key>
                <string>{173,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{357,1},{173,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-47}</string>
                <key>spriteSize</key>
                <string>{93,145}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{669,190},{93,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-46}</string>
                <key>spriteSize</key>
                <string>{91,145}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{321,246},{91,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-47}</string>
                <key>spriteSize</key>
                <string>{93,145}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{816,242},{93,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-48}</string>
                <key>spriteSize</key>
                <string>{99,141}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{146,434},{99,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-50}</string>
                <key>spriteSize</key>
                <string>{105,141}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{468,323},{105,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-49}</string>
                <key>spriteSize</key>
                <string>{105,141}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{295,339},{105,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-51}</string>
                <key>spriteSize</key>
                <string>{105,143}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{150,327},{105,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-49}</string>
                <key>spriteSize</key>
                <string>{99,145}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{822,141},{99,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-56}</string>
                <key>spriteSize</key>
                <string>{53,117}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{730,384},{53,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-55}</string>
                <key>spriteSize</key>
                <string>{53,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{555,430},{53,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-40}</string>
                <key>spriteSize</key>
                <string>{53,149}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{327,191},{53,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-41}</string>
                <key>spriteSize</key>
                <string>{49,151}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{856,90},{49,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-43}</string>
                <key>spriteSize</key>
                <string>{47,153}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{172,185},{47,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-43}</string>
                <key>spriteSize</key>
                <string>{45,151}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{518,98},{45,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-44}</string>
                <key>spriteSize</key>
                <string>{47,153}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{703,1},{47,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-43}</string>
                <key>spriteSize</key>
                <string>{51,151}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{703,50},{51,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spear_idle_a.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebd99eb45f93d05813effd61aa140f88:3d5f48db982fbef8815888718a87e110:de5d7fe598af389d38a342884715f714$</string>
            <key>textureFileName</key>
            <string>spear_idle_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
