<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-41}</string>
                <key>spriteSize</key>
                <string>{55,117}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{911,297},{55,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-43}</string>
                <key>spriteSize</key>
                <string>{55,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{968,321},{55,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-43}</string>
                <key>spriteSize</key>
                <string>{55,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{728,374},{55,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-41}</string>
                <key>spriteSize</key>
                <string>{49,117}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{971,202},{49,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-39}</string>
                <key>spriteSize</key>
                <string>{45,119}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{788,344},{45,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-38}</string>
                <key>spriteSize</key>
                <string>{45,121}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{788,297},{45,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-38}</string>
                <key>spriteSize</key>
                <string>{47,121}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,515},{47,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-39}</string>
                <key>spriteSize</key>
                <string>{53,121}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,460},{53,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-49}</string>
                <key>spriteSize</key>
                <string>{149,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{528,141},{149,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-50}</string>
                <key>spriteSize</key>
                <string>{149,83}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{345,185},{149,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-50}</string>
                <key>spriteSize</key>
                <string>{147,85}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,278},{147,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-49}</string>
                <key>spriteSize</key>
                <string>{143,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{643,285},{143,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-48}</string>
                <key>spriteSize</key>
                <string>{145,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{496,228},{145,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-47}</string>
                <key>spriteSize</key>
                <string>{143,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,365},{143,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-47}</string>
                <key>spriteSize</key>
                <string>{147,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{170,244},{147,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-48}</string>
                <key>spriteSize</key>
                <string>{149,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{681,101},{149,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-43}</string>
                <key>spriteSize</key>
                <string>{167,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,183},{167,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-43}</string>
                <key>spriteSize</key>
                <string>{167,95}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{176,92},{167,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-43}</string>
                <key>spriteSize</key>
                <string>{169,93}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{357,90},{169,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-43}</string>
                <key>spriteSize</key>
                <string>{171,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{532,1},{171,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-43}</string>
                <key>spriteSize</key>
                <string>{175,89}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{180,1},{175,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-43}</string>
                <key>spriteSize</key>
                <string>{173,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{357,1},{173,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-44}</string>
                <key>spriteSize</key>
                <string>{177,87}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-44}</string>
                <key>spriteSize</key>
                <string>{173,91}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{1,90},{173,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-48}</string>
                <key>spriteSize</key>
                <string>{93,143}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{826,202},{93,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-46}</string>
                <key>spriteSize</key>
                <string>{91,145}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{319,270},{91,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-47}</string>
                <key>spriteSize</key>
                <string>{93,145}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{679,190},{93,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-48}</string>
                <key>spriteSize</key>
                <string>{99,141}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{146,442},{99,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-50}</string>
                <key>spriteSize</key>
                <string>{105,141}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{466,321},{105,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-49}</string>
                <key>spriteSize</key>
                <string>{105,141}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{295,363},{105,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-50}</string>
                <key>spriteSize</key>
                <string>{103,143}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{150,337},{103,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-49}</string>
                <key>spriteSize</key>
                <string>{99,145}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{832,101},{99,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-56}</string>
                <key>spriteSize</key>
                <string>{53,117}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{609,374},{53,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-55}</string>
                <key>spriteSize</key>
                <string>{53,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{785,391},{53,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-40}</string>
                <key>spriteSize</key>
                <string>{53,149}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{170,189},{53,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-40}</string>
                <key>spriteSize</key>
                <string>{49,151}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{705,50},{49,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-43}</string>
                <key>spriteSize</key>
                <string>{45,153}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{860,1},{45,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-43}</string>
                <key>spriteSize</key>
                <string>{45,151}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{528,94},{45,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-44}</string>
                <key>spriteSize</key>
                <string>{47,153}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{705,1},{47,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>40007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-43}</string>
                <key>spriteSize</key>
                <string>{51,151}</string>
                <key>spriteSourceSize</key>
                <string>{615,615}</string>
                <key>textureRect</key>
                <string>{{860,48},{51,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spear_idle.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3d1fc293d082b447a7d2f1b88923dcf:c13cc72b63f0561df6b9850056548a30:05e387970fae3ac62113787ca5024721$</string>
            <key>textureFileName</key>
            <string>spear_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
